.device-card {
  .ant-badge {
    font-size: 9px !important;
  }

  .ant-card-head-title {
    font-size: 24px;
    font-weight: bold;
  }

  h4 {
    padding-left: 10px;
    font-size: 10px;
    font-weight: bold;
  }

  .time {
    font-size: 9px;
  }

  width: 100%;

  .ant-card-body {
    padding: 0;
    height: 100%;
  }

  .bordered {
    min-height: 120px;
    border: 1px solid gray;
  }

  .anticon {
    font-size: 60px;
  }

  .offline {
    color: white;
    background: #f33;
  }

  .ant-typography {
    color: inherit;
  }

  .ant-row-bottom {
    height: 100%;
  }

  .deviceIconCol {
    height: auto;
    width: 50px;
  }
}

.blink {
  background-color: #f33;
  animation: a-blink 2000ms 30;
  animation: aBlink 2000ms 30;
}

@keyframes a-blink {
  from {
    background-color: #141414;
  }

  50% {
    background-color: #f33;
  }

  to {
    background-color: #141414;
  }
}

@keyframes a-blink {
  from {
    background-color: #141414;
  }

  50% {
    background-color: #f33;
  }

  to {
    background-color: #141414;
  }
}
